<div class="author">
    <h1 class="author__heading">Hi, I am Billy.</h1>
    <p class="author__body">Software Engineer</p>
</div>

<img src="/img/mountain-forest.jpg" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <% data.forEach(post => { %>
        <ul class="article-ul">
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        </ul>
    <% }) %>

    <a href="#" class="pagination">View Older Posts &longrightarrow;</a>

</section>